<body class="text-gray-600 font-body">
  <div class="grid h-screen">
    <!-- content wrapper -->
    <main class="px-16 py-6 bg-blue-300">
      <div class="flex justify-center md:justify-end">
        <a
          href="#"
          class="text-gray-700 btn border-gray-700 md:border-2 hover:bg-gray-700 hover:text-white"
          routerLink="/add"
          >Add Book</a
        >
      </div>

      <header>
        <h2 class="text-gray-700 text-6xl font-semibold">Book Store</h2>
        <h3 class="text-gray-700 text-2xl font-semibold">Book World</h3>
      </header>

      <div>
        <h4 class="font-bold mt-12 pb-2 border-b border-gray-200">
          Books Available
        </h4>
        <div class="mt-8 grid lg:grid-cols-4 gap-10">
          <!-- cards go here  -->
          <div class="md:col-span-4" *ngIf="books == ''">
            <h3 class="text-gray-700 text-2xl font-semibold">
              Hello there unfortunately you don't have any books uploaded yet,
              try adding some by clicking the "ADD BOOK" button at the top right
              corner
            </h3>
          </div>
          <div
            class="card hover:shadow-lg"
            *ngFor="let book of books; let i = index"
          >
            <img
              src="{{ book.image }}"
              alt="bible"
              class="w-full h-32 sm:h-48 object-cover"
            />
            <div class="overflow-auto h-20 m-4">
              <span class="font-bold">Description : </span
              >{{ book.Description }}
            </div>
            <div class="m-4">
              <span class="font-bold">{{ book.Title }} </span>
              <span class="block text-gray-500 text-sm">{{ book.Author }}</span>
            </div>

            <div class="m-4 flex float-right">
              <span class="pr-4 cursor-pointer" (click)="deleteBook(book._id)"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-red-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  /></svg
              ></span>
              <span class="cursor-pointer" routerLink="/edit/{{ book._id }}"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                  /></svg
              ></span>
            </div>
          </div>
        </div>
        <!-- 
          <div class="w-64 h-64 bg-red-100 relative">
            <div class="absolute inset-0 bg-cover bg-center z-0" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/3/3c/JumanjiTheNextLevelTeaserPoster.jpg')"></div>
            <div class="opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 flex justify-center items-center text-6xl text-white font-semibold">Dwayne</div>
          </div> -->
        <div class="mt-8">
          <!-- cards go here  -->
        </div>
      </div>
    </main>
  </div>
</body>
